.body{
  background: #f6f6ef;
}
.singleStory{
  display:flex;
  align-items: center;
  padding:0 10px;
}
.header{
  display:flex;
  padding:2px 8px;
}
.storyLink{
  margin-left:5px;
  color:rgba(0,0,0,0.6);
  font-size:13px;
}
.bottom{

}
.storyTitle{
  font-size:14px;
  text-decoration: none;
  color:#000;
}

.bottom>ul{
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
}
.bottom>ul>li{
  font-size:11px;
  padding:0 8px;
}
.bottom>ul>li>a{
  color:rgba(0,0,0,0.6);
  text-decoration:none;
}
.bottom>ul>li:not(:last-child){
  border-right: 1px solid rgba(0,0,0,0.6)
}

.choosePage>ul{
  list-style: none;
  display:flex;
  justify-content: center;
}
.pageNumber{
  padding:2px 8px;
  border:1px solid rgba(0,0,0,0.5);
}
.choosePage>ul>li:not(:first-child){
  margin-left:3px;
}
.pageNumber:hover{
  cursor:pointer
}
.fa-angle-double-left,.fa-angle-double-right{
  color:rgba(0,0,0,0.5);
}
.choosePage{
  padding-bottom:5px;
}
