.singleStory{
  display:flex;
  align-items: center;
  padding:0 10px;
}
.header{
  display:flex;
  padding:2px 8px;
}
.storyLink{
  margin-left:5px;
  color:rgba(0,0,0,0.5);

  font-size:13px;
}
.bottom{

}
.storyTitle{
  font-size:14px;
  text-decoration: none;
  color:#000;
}

.bottom>ul{
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
}
.bottom>ul>li{
  font-size:11px;
  padding:0 8px;
}
.bottom>ul>li>a{
  color:rgba(0,0,0,0.85);
  text-decoration:none;
}
.bottom>ul>li:not(:last-child){
  border-right: 2px solid rgba(0,0,0,0.25)
}
